* {
  font-family: Arial, sans-serif;
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: var(--prc);
  padding-bottom: 60px;
  /* مساحة للشريط السفلي */
}
a {
  text-decoration: none;
}
:root {
  /*primery*/
  --prc: #f9f9f9;
  /*secondry*/
  --sec: #0f0f0f;
  /*logo*/
  --logo: #0f0f0f;
  /*icon*/
  --icc: #0f0f0f;
  /*background icon*/
  --icbgc: #dbdbdb;
  /*title*/
  --tic: #0f0f0f;
  /*paragraph*/
  --pac: #282828;
  /*menu*/
  --menuc: #ededed;

  /*open page button like home button*/
  --opc: #ff0000;
  /*subscribe button*/
  --sbc: #ff0000;
  /*subscribe background button*/
  --sbgbc: #cc0000;
  /*button hover*/
  --bhc: #383839;
}

.dark-mode {
  /*primery*/
  --prc: #0f0f0f;
  /*secondry*/
  --sec: #f9f9f9;
  /*logo*/
  --logo: #f1f1f1;
  /*icon*/
  --icc: #f9f9f9;
  /*background icon*/
  --icbgc: #272727;
  /*title*/
  --tic: #f1f1f1;
  /*paragraph*/
  --pac: #6d6d6d;
  /*menu*/
  --menuc: #272727;
}

#dark {
  cursor: pointer;
}

.vid-link {
  text-decoration: none;
  color: var(--tic);
}
/****************************************************/
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--prc);
  border-bottom: 1px solid var(--sec);
  padding: 0 20px;
  z-index: 1000;
  /* ضمان بقاء الشريط فوق باقي العناصر */
}
.nav-left{
  display: flex;
  gap: 10px;
}
.nav-left .sidebar-btn{
  cursor: pointer;
  margin-top: 5px;
}
.navbar-top .logo {
  font-size: 20px;
  font-weight: 700;
  padding-left: 10px;
  text-align: left;
}

.logo h2 {
  color: var(--sec);
}
.search-pc{
  display: flex;
  position: relative;
  gap: 10px;
}
.search-pc input{
  width: 500px;
  padding: 5px 25px;
  border-radius: 25px;
  font-size: 1rem;
  border: 1px solid var(--pac);
  background-color: var(--prc);
  color: var(--tic);
}
.search-icon-pc i{
  position: absolute;
  top: 1px;
  right: 12px;
  z-index: 1;
  background-color: var(--icbgc);
  padding: 15px;
  border-radius: 50%;
}
.navbar-top .nav-right {
  display: flex;
  gap: 30px;
}

.navbar-top .nav-item {
  display: flex;
  color: var(--icc);
  text-decoration: none;
  font-size: 18px;
}
#search-icon{
  display: none;
}
/**********/
.navbar-sub {
  padding-top: 10px;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  background-color: var(--prc);
  padding: 5px 5px;
  gap: 10px;
}

.navbar-sub .sub-item {
  display: inline-block;
  padding: 5px 14px;
  margin-left: 4px;
  color: var(--sec);
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: var(--menuc);
  height: 100%;
  align-content: center;
}

.navbar-sub .sub-item:hover {
  background-color: #a2a2a2;
}
.nav-item.add i{
    font-size: 26px;
}

/********side bar **********/
.sidebar {
  display: none;  /* flex */
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: var(--prc);
  padding: 20px;
  border-left: 1px solid var(--sec);
}
.sidebar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar ul li {
  margin-bottom: 10px;
}
.sidebar ul li a{
    color: var(--tic);
    font-size: 1rem;
    font-weight: 600;
}
#sidebar_btn{
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
/****** bottom sub *******/
.navbar {
display: none;
}
.nav-item {
  flex: 1;
  text-align: center;
  padding: 25px 0;
  color: var(--icc);
  text-decoration: none;
  font-size: 12px;
}
.profile-pc{
  display: flex;
  align-items: center;
}
.profile-pc img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.nav-item img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.nav-item.home {
  color: var(--opc);
}
.nav-item span {
  display: block;
  margin-top: 5px;
}
/**channal bottom sub**/
.nav-item.ch-subscriptions {
  color: var(--opc);
}
/********** contant *******/
.content {
  padding: 2px 0;
  padding-top: 0px;
  padding-bottom: 30px;
  /* مساحة إضافية لتجنب تداخل المحتوى مع الشريط العلوي */
  overflow-y: auto;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-left: 25px;
  padding-top: 25px;
}

.video-item {
  background: var(--prc);
  width: 360px;
}

.video-item img {
  object-fit: cover;
  width: 360px;
  height: 180px;
  border-radius: 4px;
}

.vidtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
}

.vidtitle img {
  object-fit: cover;
  width: 45px;
  height: 45px;
  border-radius: 50px;
}

.vidtitle .viddes {
  align-items: center;
  margin-left: 10px;
}

.vidtitle a {
  color: var(--tic);
  text-decoration: none;
}

.vidtitle .viddes h3 {
  margin: 10px 5px;
  font-size: 15px;
}

.vidtitle p {
  margin: 5px;
  font-size: 14px;
  color: var(--pac);
}

.vidtitle .viddes {
  color: var(--tic);
  font-size: 0.9rem;
}

/******* account ********/
.nav-item.aactive {
  color: var(--sec);
}

.acontent {
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  /* مساحة إضافية لتجنب تداخل المحتوى مع الشريط العلوي */
  overflow-y: auto;
}

.aprofile {
  display: flex;
  border-radius: 15px;
  align-items: top;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 2px 20px;
  color: var(--tic);
}

.aprofile img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.acontent-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  color: var(--tic);
  font-size: 0.9rem;
}

.acontent-title button {
  display: flex;
  margin: 0;
  padding: 10px;
  border-radius: 15px;
  height: 40px;
  align-items: center;
}

.avideo-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.avideo-item {
  flex: 0 0 auto;
  margin-right: 10px;
  width: 150px;
}
.avideo-item img {
  width: 100%;
  height: 50%;
  border-radius: 15px;
  object-fit: cover;
}

.avideo-item h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: var(--tic);
}

.avideo-item p {
  font-size: 14px;
  color: var(--pac);
}
/****** sizing ***********/
@media (max-width: 600px) {
  .nav-item {
    font-size: 10px;
  }
  #search-icon{
    display: flex;
    color: var(--icc);
    text-decoration: none;
    font-size: 18px;
  }
  .nav-item i {
    font-size: 20px;
  }
  .profile-pc{
    display: none;
  }
  .video-item h3 {
    font-size: 16px;
  }

  .video-item p {
    font-size: 12px;
  }

  .avideo-item h3 {
    font-size: 16px;
  }

  .avideo-item p {
    font-size: 12px;
  }
  .video-list {
    display: flex;
    gap: 15px;
  padding-left: 0px;
  padding-top: 0px;
  }
  .video-item {
  background: var(--prc);
  width: 100%;
}
.video-item img {
  object-fit: cover;
  width: 100%;
  height: 230px;
}
.vidtitle img {
  object-fit: cover;
  width: 45px;
  height: 45px;
  border-radius: 50px;
}
#side-menu{
  display: none;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--prc);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.sidebar{
  display: none;
}
.nav-left .sidebar-btn{
  display: none;
}
.search-pc{
  display: none;
}
}
/******* settings **********/
.Scontent {
  display: flex;
  flex-direction: column;
}

.seth3 {
  color: var(--tic);
}

.sbut-list button {
  background: var(--prc);
  font-size: 1rem;
  font-weight: 500;
  padding-left: 20px;
  text-align: left;
  width: 100%;
  height: 50px;
  border: none;
  color: var(--tic);
}

.but-list button:hover {
  background: var(--bhc);
}

/*general*/
#toggle-dark-mode span {
  position: fixed;
  right: 15px;
}

#toggle-dark-mode span i {
  fill: var(--icc);
}

#toggle-dark-mode span i:last-child {
  display: none;
}

.dark-mode #toggle-dark-mode span i:first-child {
  display: none;
}

.dark-mode #toggle-dark-mode span i:last-child {
  display: block;
}
/*********search**********/
.search-container {
  display: flex;
  position: relative;
  margin: 15px 10px;
  align-items: center;
  gap: 5px;
  width: auto;
}

.search-container button {
  padding: 5px 8px;
  color: var(--icc);
  background: var(--icbgc);
  font-size: 1.1rem;
  border: none;
  border-radius: 50px;
}

#search-box {
  width: 100%;
  height: 35px;
  border-radius: 20px;
  border: none;
  padding: 0 15px;
  background: var(--icbgc);
  color: var(--tic);
}

.suggestions-box {
  position: absolute;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  border: none;
  color: var(--tic);
  font-size: 0.8rem;
}

.suggestion-item {
  padding: 10px;
  padding-left: 60px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: var(--icbgc);
}
/****** channel ******/

.channel-banner {
  width: 100%;
  height: 100px;
  overflow: hidden;
  padding: 0px 10px;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.channel-info {
  display: flex;
  align-items: center;
  padding: 15px;
}

.profile-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0;
  /* Prevent the image from shrinking */
}

.channel-name {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--tic);
}

.subscriber-count {
  color: var(--pac);
  font-size: 0.9rem;
}
.Channel-description {
  color: var(--pac);
  font-size: 0.9rem;
  padding-left: 15px;
  margin-bottom: 20px;
}

.subscribe-btn {
  align-content: center;
  margin: 0px 15px;
  margin-bottom: 15px;
}
.subscribe-btn button {
  width: 100%;
  background-color: var(--sbc);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.subscribe-btn button:hover {
  background-color: var(--sbgbc);
}

/* Navigation Tabs */
.ch-navbar-sub {
  padding-top: 10px;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 5px 5px;
  gap: 1px;
}

.ch-navbar-sub .ch-sub-item {
  display: inline-block;
  padding: 5px 14px;
  margin-left: 4px;
  color: var(--prc2);
  cursor: pointer;
  flex-shrink: 0;
  height: 100%;
  align-content: center;
  border-bottom: 1px solid var(--icc);
}
/* Tab Content */
.tab-content {
  padding: 20px;
  display: none;
}

.tab-content.active {
  display: block;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.video-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.video-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-card img {
  width: 100%;
  height: auto;
}

.video-card h3 {
  margin: 10px;
  font-size: 18px;
}

.video-card p {
  margin: 10px;
  color: var(--pac);
}
/**** channal ****/
.channel-banner {
  width: 100%;
  height: 100px;
  overflow: hidden;
  padding: 0px 10px;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.channel-info {
  display: flex;
  align-items: center;
  padding: 15px;
}

.profile-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0;
  /* Prevent the image from shrinking */
}

.channel-name {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--tic);
}

.subscriber-count {
  color: var(--pac);
  font-size: 0.9rem;
}

.Channel-description {
  color: var(--pac);
  font-size: 0.9rem;
  padding-left: 15px;
  margin-bottom: 20px;
}

.subscribe-btn {
  align-content: center;
  margin: 0px 15px;
  margin-bottom: 15px;
}

.subscribe-btn button {
  width: 100%;
  background-color: var(--opc);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-btn button:hover {
  background-color: var(--sbgbc);
}

/* Navigation Tabs */
.ch-navbar-sub {
  padding-top: 10px;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 5px 5px;
  gap: 1px;
}

.ch-navbar-sub .ch-sub-item {
  display: inline-block;
  padding: 5px 14px;
  margin-left: 4px;
  color: var(--sec);
  cursor: pointer;
  flex-shrink: 0;
  height: 100%;
  align-content: center;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.ch-navbar-sub .ch-sub-item.active {
  border-bottom: 2px solid #ff0000;
}

/* Tab Content */
.tab-content {
  padding: 20px;
  display: none;
}

.tab-content.active {
  display: block;
}

.video-grid {
  gap: 10px;
}

.video-card {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  align-items: center;
  background: transparent;
  border: none;
}
.video-card img {
  width: 160px;
  height: 90px;
  border-radius: 15px;
}
.Toplist {
  color: var(--tic);
  font-size: 1.2rem;
}
.ch-videod {
  top: 50px;
}
.ch-videod h3 {
  margin: 10px;
  font-size: 0.9rem;
  color: var(--tic);
}
.ch-videod p {
  margin: 10px;
  color: var(--pac);
  font-size: 0.7rem;
}

.ch-video-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 25px;
}

.ch-video-item {
  margin-right: 10px;
  width: 300px;
}
.ch-video-item img {
  width: 320px;
  height: 180px;
  border-radius: 15px;
  object-fit: cover;
}

.ch-video-item h3 {
  margin: 10px 0 5px;
  font-size: 1rem;
  color: var(--tic);
}

.ch-video-item p {
  font-size: 14px;
  color: var(--pac);
}

.ch-ranking-but {
  display: flex;
  margin: 10px 0;
  width: auto;
  gap: 10px;
}
.ch-ranking-but button {
  width: 70px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  align-content: center;
  cursor: pointer;
  font-weight: 700;
}
/****** subscribers ****/
.sub-info {
  display: flex;
  align-items: center;
}
.sub-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 10px 0px;
  padding-right: 90px;
}
.sub-link h3 {
  color: var(--tic);
}
.sub-link p {
  color: var(--pac);
  font-size: 0.9rem;
}
.sub-info .sub-link img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0px 15px;
}
.sub-icon a {
  color: var(--icc);
  font-size: 1rem;
  background: var(--icbgc);
  padding: 5px 10px;
  border-radius: 15px;
}
/******* sizing **********/

/***************************************************/
/***** upload video **/
.uvc {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.uvc h1 {
  color: #333;
  text-align: center;
}

.upload-section {
  display: flex;
}

#video-preview {
  display: none;
  max-width: 192px;
  fill: auto;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

.uvsave-Button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.uvsave-Button:hover {
  background-color: #0056b3;
}

#thumbnail-preview {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
}
/******* videos **********/
.video-top {
  display: flex;
  margin: 0px;
  width: 100%;
  height: 300px;
  z-index: 1000;
}

.video-top video {
  width: 100%;
}
