* {
  font-family: Arial, sans-serif;
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
*:focus {
  outline: none;
}

body {
  background: var(--main-color);
  padding-bottom: 60px;
  direction: ltr;
}

:root {
  --main-color: #f9f9f9;

  --title-color: #0f0f0f;
  --paragraph-color: #282828;
  --link-color: #3EA6FF;

  --icon-color: #0f0f0f;
  --icon-background-color: #dbdbdb;

  --open-page-btn-color: #ff0000;
  --action-menu-btn: #ffe8d4;

  --active-color: #a2a2a2;

  /*#ff0000*/
}

.dark-mode {
  --main-color: #0f0f0f;

  --title-color: #F1F1F1;
  --paragraph-color: #AAAAAA;
   --link-color: #3EA6FF;

  --icon-color: #f9f9f9;
  --icon-background-color: #272727;

  --active-color: #a2a2a2;
}

#dark {
  cursor: pointer;
}

.a {
  color: var(--title-color);
}
.back-btn {
  color: var(--title-color);
  font-size: 1.3rem;
  font-weight: 600;
}
/***** header *****/
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--main-color);
  padding: 10px 20px;
  z-index: 1000;
}

.navbar-top h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title-color);
}
.navbar-top h1:active {
  color: var(--active-color);
}
.navbar-top nav {
  display: flex;
  gap: 30px;
}

.navbar-top nav a {
  color: var(--icon-color);
  font-size: 1.2rem;
}
.navbar-top nav a:active {
  color: var(--active-color);
}
/***** Suggestion bar top *****/
.suggestion-bar-top {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 10px;
  padding: 0 15px;
  gap: 5px;
}
.suggestion-bar-top::-webkit-scrollbar {
  overflow: hidden;
}
.suggestion-bar-top a {
  display: inline-block;
  padding: 7px 14px;
  margin-left: 4px;
  color: var(--title-color);
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: var(--icon-background-color);
  height: 100%;
  align-content: center;
  font-size: 1rem;
  font-weight: 500;
}

.suggestion-bar-top a:active {
  background-color: var(--active);
}

/***** contant *****/
.content {
  overflow-y: auto;
}

.content .video-card {
  display: flex;
  flex-direction: column;
  background-color: var(--icon-background-color);
}

.content .video-card img {
  object-fit: cover;
  width: 100%;
  height: 230px;
  border-radius: 4px;
}

.content .video-card .video-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 15px 15px;
}

.content .video-card .video-info img {
  object-fit: cover;
  width: 45px;
  height: 45px;
  border-radius: 50px;
}

.content .video-card .video-info .video-info-box {
  align-items: center;
  margin-left: 10px;
}

.content .video-card .video-info a {
  color: var(--title-color);
}

.content .video-card .video-info .video-info-box h2 {
  margin: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--title-color);
}

.content .video-card .video-info p {
  margin: 5px;
  font-size: 0.9rem;
  color: var(--paragraph-color);
}
.content .video-card .video-info .video-info-box:active {
  background-color: var(--active-color);
}
.content .video-card .video-info .action-menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  font-size: 1.2rem;
  color: var(--icon-color);
  padding: 5px 15px;
  margin-right: 15px;
}
.content .video-card .video-info .action-menu-btn:active {
  background-color: var(--action-menu-btn);
}
/****** Suggestion bar bottom *******/
.suggestion-bar-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--main-color);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  padding: 5px;
}
.suggestion-bar-bottom a {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  color: var(--icon-color);
  font-size: 1.3rem;
}
.suggestion-bar-bottom a:active {
  color: var(--active-color);
}
.suggestion-bar-bottom a img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
/* page */
.suggestion-bar-bottom .home-btn {
  color: var(--open-page-btn-color);
}
.suggestion-bar-bottom .shorts-btn {
  color: var(--open-page-btn-color);
}
.suggestion-bar-bottom .add-btn {
  color: var(--open-page-btn-color);
}
.suggestion-bar-bottom .subscriber-btn {
  color: var(--open-page-btn-color);
}
/**channal bottom sub**/
.navbar .nav-item .ch-subscriptions {
  color: var(--open-page-btn-color);
}
/*** popup ***/
.action-menu-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: flex-end; /* Align to bottom */
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
  z-index: 999;
}

.action-menu-popup .action-menu-popup-box {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  height: 160px;
  background-color: var(--icon-background-color);
  border-radius: 10px;
  text-align: center;
  animation: slideUp 0.3s ease-out;
}

.action-menu-popup .action-menu-popup-box a {
  color: #333;
  font-size: 1.2rem;
  transition: background-color 0.2s ease;
  text-align: left;
}

.action-menu-popup .action-menu-popup-box a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--title-color);
}
.action-menu-popup .action-menu-popup-box a i {
  margin-right: 15px;
  font-size: 1rem;
}

.action-menu-popup .action-menu-popup-box a:active {
  background-color: var(--active);
}

/* Animation for popup sliding from the bottom */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/******* account ********/
.nav-item .aactive {
  color: var(--title-color);
}

.acontent {
  padding: 20px 0 30px;
  overflow-y: auto;
}

.acontent .aprofile {
  display: flex;
  border-radius: 15px;
  align-items: top;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 2px 20px;
  color: var(--title-color);
}

.acontent .aprofile img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.acontent .aprofile .account-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.acontent .aprofile .account-info h2 {
  font-size: 1.2rem;
  font-weight: 600;
}
.acontent .aprofile .account-info p {
  font-size: 1rem;
  font-weight: 500;
}
.acontent .acontent-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  color: var(--title-color);
  font-size: 0.9rem;
}
.acontent .acontent-title h2 {
  font-size: 1.1rem;
  font-weight: 600;
}
.acontent .acontent-title button {
  display: flex;
  padding: 5px 10px;
  border: none;
  border-radius: 25px;
  height: 40px;
  align-items: center;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
}

.acontent .acontent-title button:active {
  background: var(--active);
}

.acontent .avideo-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0 0 0 15px;
}
.acontent .avideo-list::-webkit-scrollbar {
  overflow: hidden;
}

.acontent .avideo-list .avideo-item {
  flex: 0 0 auto;
  margin-right: 10px;
  width: 150px;
}
.acontent .avideo-list .avideo-item img {
  width: 100%;
  height: 50%;
  border-radius: 15px;
  object-fit: cover;
}

.acontent .avideo-list .avideo-item .avid-link h3 {
  margin: 10px 0 5px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--title-color);
}

.acontent .avideo-list .avideo-item .avid-link p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--paragraph-color);
}

/*** settings ***/
.navbar-top .setting-title {
  color: var(--title-color);
  font-size: 1.2rem;
  font-weight: 600;
}
.settings-content {
  display: flex;
  flex-direction: column;
}
.settings-content button {
  background: var(--main-color);
  font-size: 1rem;
  font-weight: 500;
  padding-left: 20px;
  text-align: left;
  width: 100%;
  height: 50px;
  border: none;
  color: var(--title-color);
  cursor: pointer;
}

.settings-content button:active {
  background: var(--active-color);
}

/*general*/
#toggle-dark-mode span {
  position: fixed;
  right: 15px;
}

#toggle-dark-mode span i {
  fill: var(--icon-color);
}

#toggle-dark-mode span i:last-child {
  display: none;
}

.dark-mode #toggle-dark-mode span i:first-child {
  display: none;
}

.dark-mode #toggle-dark-mode span i:last-child {
  display: block;
}

/*********search**********/
.search-container {
  display: flex;
  position: relative;
  margin: 15px 10px;
  align-items: center;
  gap: 5px;
  width: auto;
}

.search-container button {
  padding: 5px 8px;
  color: var(--icon-color);
  background: var(--icon-background-color);
  font-size: 1.1rem;
  border: none;
  border-radius: 50px;
}

.search-container .search-box {
  width: 100%;
  height: 35px;
  border-radius: 20px;
  border: none;
  padding: 0 15px;
  background: var(--icon-background-color);
  color: var(--title-color);
}

.suggestions-box {
  position: absolute;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  border: none;
  color: var(--title-color);
  font-size: 1rem;
}

.suggestion-item {
  padding: 10px;
  padding-left: 60px;
  cursor: pointer;
}

.suggestion-item:active {
  background-color: var(--active-color);
}



/**** channal ****/
.channal-content {
  overflow-y: auto;
}
.channal-content .channal-top-section {
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
}
.channal-content .channal-top-section .channal-banner {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
}
.channal-content .channal-top-section .channal-info {
  display: flex;
  margin: 20px 0;
  gap: 10px;
}
.channal-content .channal-top-section .channal-info img {
  width: 72px;
  height: 72px;
  border-radius: 50px;
}
.channal-content .channal-top-section .channal-info .channal-info-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.channal-content .channal-top-section .channal-info .channal-info-box h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title-color);
}
.channal-content .channal-top-section .channal-info .channal-info-box p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--paragraph-color);
}
.channal-content .channal-top-section .channal-link {
  display: flex;
  flex-direction: column;
}
.channal-content .channal-top-section .channal-link p {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--paragraph-color);
}
.channal-content .channal-top-section .channal-link p a {
  color: var(--link-color);
}
/*** section ***/
.channal-content .channal-main-section {
  width: 100%;
}
.channal-main-section .channal-navigayion-btn {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 10px;
  padding: 0 15px;
  gap: 5px;
}
.channal-content .channal-main-section .channal-navigayion-btn::-webkit-scrollbar {
  overflow: hidden;
}
.channal-content .channal-main-section .channal-navigayion-btn a {
  display: inline-block;
  padding: 7px 14px;
  color: var(--title-color);
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 10px;
  height: 100%;
  align-content: center;
  font-size: 1rem;
  font-weight: 500; 
}
/***/
.channal-content .channal-main-section .best-video {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px 0;
}
.channal-content .channal-main-section .best-video img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}
.channal-content .channal-main-section .best-video h3 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 5px;
  padding: 0 12px;
}
/***/
.channal-content .channal-main-section .videos-section {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 10px;
}
.channal-content .channal-main-section .videos-section h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--title-color);
  margin: 0 12px;
}
.channal-content .channal-main-section .videos-section .video-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}
.channal-content .channal-main-section .videos-section .video-card .video-info img {
  object-fit: cover;
  width: 160px;
  height: 90px;
  border-radius: 4px; 
  margin-right: 10px;
}
.channal-content .channal-main-section .videos-section .video-card .video-info {
  display: flex;
  align-items: center;
  gap: 5px;
}
.channal-content .channal-main-section .videos-section .video-card .video-info .video-info-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.channal-content .channal-main-section .videos-section .video-card .video-info .video-info-box h3 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--title-color);
}
.channal-content .channal-main-section .videos-section .video-card .video-info .video-info-box p {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--paragraph-color);
}
.channal-content .channal-main-section .videos-section .video-card .action-menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  font-size: 1.2rem;
  color: var(--icon-color);
  padding: 5px 15px;
  margin-right: 15px;
}
.channal-content .channal-main-section .videos-section .video-card .action-menu-btn:active {
  background-color: var(--action-menu-btn);
}


/****** subscribers ****/
.sub-info {
  display: flex;
  align-items: center;
}
.sub-info .sub-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 10px 0px;
  padding-right: 90px;
}
.sub-info .sub-link h3 {
  color: var(--title-color);
}
.sub-info .sub-link p {
  color: var(--paragraph-color);
  font-size: 0.9rem;
}
.sub-info .sub-link img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0px 15px;
}
.sub-info .sub-icon a {
  color: var(--icon-color);
  font-size: 1rem;
  background: var(--icon-background-color);
  padding: 5px 10px;
  border-radius: 15px;
}

/***** video player ****/
.video-contant {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/***** video section *****/
.video-contant .main-video {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 2;
}
.video-contant .main-video video {
  width: 100%;
  height: auto;
}

/***** info section *****/
.video-contant .video-info {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
/*** top ***/
.video-contant .video-info .top-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.video-contant .video-info .top-row h1 {
  color: var(--title-color);
  font-size: 1.2rem;
  font-weight: 600;
}
.video-contant .video-info .top-row .view-time {
  display: flex;
  color: var(--paragraph-color);
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}
.video-contant .video-info .top-row .view-time .data {
  display: flex;
  justify-content: space-between;
}
.video-contant .video-info .top-row .view-time .data p {
  color: var(--paragraph-color);
  font-size: 1rem;
}
.video-contant .video-info .top-row .view-time button {
  background-color: transparent;
  color: var(--paragraph-color);
  border: none;
}

/*** middle ***/
.video-contant .video-info .middle-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.video-contant .video-info .middle-row .channal-info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.video-contant .video-info .middle-row .channal-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.video-contant .video-info .middle-row .channal-info h2 {
  color: var(--title-color);
  font-size: 1.2rem;
  font-weight: 600;
}
.video-contant .video-info .middle-row .channal-info p {
  color: var(--paragraph-color);
  font-size: 1rem;
  font-weight: 500;
}
.video-contant .video-info .middle-row button {
  background-color: var(--icon-background-color);
  color: var(--icon-color);
  border: none;
  border-radius: 25px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 600;
}
.video-contant .video-info .middle-row button:active {
  background-color: var(--active);
}

/*** bottom ***/
.video-contant .video-info .bottom-row {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  align-items: center;
  margin-bottom: 20px;
}
.video-contant .video-info .bottom-row::-webkit-scrollbar {
  overflow: hidden;
}
.video-contant .video-info .bottom-row .video-interact {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--icon-background-color);
  border: none;
  border-radius: 25px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 500;
}
.video-contant .video-info .bottom-row .video-interact button {
  color: var(--icon-color);
  background-color: transparent;
  border: none;
  font-size: 1rem;
}
.video-contant .video-info .bottom-row .video-interact span {
  color: var(--icon-color);
}
.video-contant .video-info .bottom-row .video-interact:active {
  background-color: var(--active);
}

/***** comment section *****/
.video-contant .video-info .comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  background-color: var(--icon-background-color);
  padding: 10px 15px;
  border-radius: 15px;
}
.video-contant .video-info .comments:active {
  background-color: var(--active);
}
.video-contant .video-info .comments .comment-number {
  display: flex;
  align-items: center;
  gap: 5px;
}
.video-contant .video-info .comments .comment-number h3 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--title-color);
}
.video-contant .video-info .comments .comment-number span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--paragraph-color);
}
.video-contant .video-info .comments .coment-box {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 0 5px 0;
}
.video-contant .video-info .comments .coment-box img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.video-contant .video-info .comments .coment-box p {
  color: var(--title-color);
  font-size: 1rem;
}
.video-contant .Video-suggestion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--icon-background-color);
}
.video-contant .Video-suggestion .video-item {
  background: var(--main-color);
}
.video-contant .Video-suggestion .video-item:active {
  background-color: var(--icon-background-color);
}
.video-contant .Video-suggestion .video-item img {
  object-fit: cover;
  width: 100%;
  height: 230px;
  border-radius: 4px;
}
.video-contant .Video-suggestion .video-item .vidtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 15px 15px;
}
.video-contant .Video-suggestion .video-item .vidtitle img {
  object-fit: cover;
  width: 45px;
  height: 45px;
  border-radius: 50px;
}

.video-contant .Video-suggestion .video-item .vidtitle .viddes {
  align-items: center;
  margin-left: 10px;
}

.video-contant .Video-suggestion .video-item .vidtitle a {
  color: var(--title-color);
}

.video-contant .Video-suggestion .video-item .vidtitle .viddes h3 {
  margin: 10px 5px;
  font-size: 1rem;
}

.video-contant .Video-suggestion .video-item .vidtitle p {
  margin: 5px;
  padding-right: 15px;
  font-size: 0.8rem;
  color: var(--paragraph-color);
}

.video-contant .Video-suggestion .video-item .vidtitle .viddes {
  color: var(--title-color);
  font-size: 0.9rem;
}

@media (max-width: 370px) {
  .video-contant .video-info {
    margin-top: 215px;
  }
}
@media (min-width: 375px) and (max-width: 400px) {
  .video-contant .video-info {
    margin-top: 250px;
  }
}
@media (min-width: 410px) and (max-width: 450px) {
  .video-contant .video-info {
    margin-top: 250px;
  }
}
@media (min-width: 768px) {
  .video-contant .video-info {
    margin-top: 460px;
  }
}
/******* sizing **********/
@media (max-width: 600px) {
  .nav-item {
    font-size: 10px;
  }

  .nav-item i {
    font-size: 20px;
  }

  .video-item h3 {
    font-size: 16px;
  }

  .video-item p {
    font-size: 12px;
  }

  .avideo-item h3 {
    font-size: 16px;
  }

  .avideo-item p {
    font-size: 12px;
  }
}
